@tailwind base;

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 7px;
}

:hover::-webkit-scrollbar-track {
  background-color: rgb(245 245 255);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(235 235 255);
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

/* :hover:-webkit-scrollbar-thumb {
  background-color: rgb(126 34 206);
} */

@tailwind components;
@tailwind utilities;
